apiVersion: v1
kind: Service
metadata:
  name: my-k8s-app-service
spec:
  selector:
    app: my-k8s-app
  ports:
    - protocol: TCP
      port: 80 # 들어오는 포트
      targetPort: 80 # 나가는 포트 (컨테이너 내부)
  type: LoadBalancer
